<!DOCTYPE html>
  <html lang="es">
  
  <head>
    <meta charset="utf-8">
    <title>Catering App</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="resources/first/src/css/bootstrap.css">
    <link rel="stylesheet" href="resources/first/src/css/font-awesome.min.css">
    <link rel="stylesheet" href="resources/first/src/css/font.css">
    <link rel="stylesheet" href="resources/first/src/css/style.css">
  </head>
  <body>
       <!-- header -->
    <header id="header" class="navbar">
      <ul class="nav navbar-nav navbar-avatar pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">            
            <span class="hidden-xs-only">Administrador</span>
            <span class="thumb-small avatar inline"><img src="resources/first/src/images/avatar.jpg" alt="Mika Sokeil" class="img-circle"></span>
            <b class="caret hidden-xs-only"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Perfil</a></li>
            <li><a href="docs.html">Ayuda</a></li>
            <li><a href="signin.html">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-avatar pull-left">
        <li class="dropdown">
          <img src="resources/first/src/images/banner2.jpg" alt="Mika Sokeil" class="imgbanner">
        </li>
      </ul>
    </header>
    <!-- / header -->
    <!-- nav -->
    <nav id="nav" class="nav-primary hidden-xs nav-vertical">
      <ul class="nav" data-spy="affix" data-offset-top="50">
          <li class="dropdown-submenu">
              <a href="#"><i class="fa fa-th fa-lg"></i><span>Catering</span></a>
              <ul class="dropdown-menu">
                  <li><a href="#/registrarcatering">Crear</a></li>
                  <li><a href="'registrarcatering.html'">Listar</a></li>
              </ul>
          </li>
          <li class="dropdown-submenu">
              <a href="#"><i class="fa fa-th fa-lg"></i><span>Cátalogo Producto</span></a>
              <ul class="dropdown-menu">
                  <li><a href="#/registrarcatalogo">Crear</a></li>
                  <li><a href="icons.html">Listar</a></li>
              </ul>
          </li>
          <li class="dropdown-submenu">
              <a href="#"><i class="fa fa-th fa-lg"></i><span>Paquetes</span></a>
              <ul class="dropdown-menu">
                  <li><a href="buttons.html">Crear</a></li>
                  <li><a href="icons.html">Listar</a></li>
              </ul>
          </li>
        <li class="dropdown-submenu">
          <a href="#"><i class="fa fa-clipboard fa-lg"></i><span>Subasta</span></a>
        </li>
        <li><a href="form.html"><i class="fa fa-thumbs-o-up fa-lg"></i><span>Cotizaciones</span></a></li>
        <li class="dropdown-submenu">
          <a href="#"><i class="fa fa-bar-chart-o fa-lg"></i><span>Reportes</span></a>
        </li>
      </ul>
    </nav>
    <section id="content">
      <!-- .sidebar -->
      <section class="main padder">
        <div class="row">
          <div class="col-lg-5  col-lg-offset-3">
        	  <section class="panel">
              <header class="panel-heading text-center">
            	  Crear Catálogo 
              </header>
              <div class="panel-body" ng-controlller="RegistrarCatalogoController">
  	      		  <form class="form-horizontal" method="get" data-validate="parsley">
                  <div class="form-group">
                    
                    <label class="col-lg-3 control-label">Tipo</label>
                    <div class="col-lg-5">
                      <select ng-model="seleccionarTipos" ng-options="tipo as tipo.nombre for tipo in tipos">
                      </select>
                    </div>
                  </div>
                
                  <!--<div ng-controller="RegistrarCatalogoController">
                    <select ng-model="selectedItem" 
                    ng-options="item as item.name for item in items"></select>
                    {{selectedItem | json}}
                  </div> -->
                  
                  <div  class="form-group">
                    <label class="col-lg-3 control-label">Catalogo</label>
                    <div class="col-lg-5">
                      <select ng-model="seleccionarCatalogos" ng-options="catalogo as catalogo.nombre for catalogo in catalogos" required>
                      </select>
                    </div>
                  </div>
                  
                  <div  class="form-group">
                    <label class="col-lg-3 control-label">Producto</label>
                    <div class="col-lg-5">
                      <select ng-model="seleccionarProductos" ng-options="producto as producto.nombre for producto in productos">
                      </select>
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Precio</label>
                    <div class="col-lg-5">
                      <input type="text"  name="precio" required>
                    </div>
                  </div>   
                  <div class="form-group">
  							    <label class="col-lg-3 control-label">Descripción</label>
  							    <div class="col-lg-5">
  								    <textarea name="descrip" class="form-control" style="max-width: 207px; max-height: 130px; resize: none;"></textarea>
  							    </div>
  						    </div> 
  						    <div class="form-group">
  							    <label class="col-lg-3 control-label">Mis catering</label>
  							    <div class="col-lg-5">
                      <label ng-repeat="catering in caterings">
                        <input type="checkbox" ng-model="seleccionar" checklist-value="catering"> {{catering.nombre}}
                      </label>
                    </div>
  						    </div> 
  						    <div class="form-group">
  							    <label class="col-lg-3 control-label">Fotografía</label>
  							    <div class="col-lg-5">
  								     <img src="resources/first/src/images/arroz.jpg" alt="Arroz"/>
  								  </div>
  						    </div> 
                </form>
              <br>
	                <div class="form-group">
	                  <div class="col-lg-9 col-lg-offset-5">                      
	                    <button type="submit" class="btn btn-primary">Guardar</button>
	                  </div>
	                </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <footer id="footer">
    </footer>
    <!-- / footer -->
    <script src="resources/first/src/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="resources/first/src/js/bootstrap.js"></script>
    <!-- app -->
    <script src="resources/first/src/js/app.js"></script>
    <script src="resources/first/src/js/app.plugin.js"></script>
    <script src="resources/first/src/js/app.data.js"></script>
  </body>
  
  </html>